# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-rby.desktop

[Desktop Entry]
Comment=Lightweight RubyCoin Client
Exec=electrum-rby %u
GenericName[en_US]=Electrum-RBY
GenericName=Electrum-RBY
Icon=electrum-rby
Name[en_US]=Electrum RubyCoin Wallet
Name=Electrum RubyCoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/rubycoin;

